<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>Moderator Logger</name>
  <key>modlogger</key>
  <description>...</description>
  <author>Thao Le</author>
  <authorEmail>thaolt@songphi.com</authorEmail>
  <authorUrl>http://songphi.net/</authorUrl>
  <developerKey>f3cf04f4be78d22162470c28a80dbd93</developerKey>
  <build>10000</build>
  <copyright>(C) 2013 SongPhi LLC. All rights reserved.</copyright>
  <license>GPLv3</license>
  <licenseUrl>https://github.com/ycicom/modlogger/#LICENSE</licenseUrl>
</plugin>